{% extends "base.html" %}
{% block content %}
    <div class="bg-dark">
         <div class="container py-4">
            <h1 class="mb-4 text-center">RE2 Remake Collectibles</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for item in collectibles %}
                    <div class="col">
                        <div class="item-card d-flex align-items-center">
                            <img src="{{ url_for('static', filename='images/Resident Evil 2 Item Images/' ~ item.image) }}"
                                 alt="{{ item.name }} icon" class="item-img">
                            <div>
                                <h5 class="mb-1">{{ item.name }}</h5>
                                {% if item.description %}
                                    <p class="mb-0"><small>{{ item.description }}</small></p>
                                {% endif %}
                            {% set already_added = inventory | selectattr('name', 'equalto', item.name) | list | length > 0 %}
                            </div>
                        </div>
                     <form action="{{ url_for('add_to_inventory') }}" method="POST">
                          <input type="hidden" name="name" value="{{ item.name }}">
                          <input type="hidden" name="description" value="{{ item.description }}">
                          <input type="hidden" name="image" value="{{ item.image }}">
                          <button type="submit" class="add_button"
                            {% if already_added %}disabled class="disabled-button"{% endif %}>
                            {% if already_added %}Already in Inventory{% else %}Add to Inventory{% endif %}
                          </button>
                    </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}